---
import { getCollection } from "astro:content";

import { CoreLayout } from "../../../layouts/CoreLayout";
import { GuideCard } from "../../../components/GuideCard";
export async function getStaticPaths() {
  const subcategories = await getCollection("subcategories");

  const paths = subcategories.map((subcategory) => {
    const segments = subcategory.id.split("/");
    const category = segments[segments.length - 2];
    return { params: { category } };
  });

  return paths;
}

const currentSubguides = Astro.params.category;

const subcategories = await getCollection("subcategories");

const currentSubcategoriesList = subcategories.filter((subcategory) => {
  return subcategory.id.includes(`${currentSubguides}/`);
});

console.log(currentSubcategoriesList);
---

<CoreLayout>
  <h1 class="text-text-primary text-2xl font-bold capitalize text-center">
    {currentSubguides} Guide
  </h1>

  <div class="mt-4">
    {
      currentSubcategoriesList.map((subcategory) => (
        <a href={subcategory.data.link}>
          <GuideCard {...subcategory.data} />
        </a>
      ))
    }
  </div>
</CoreLayout>
