---
import { getCollection } from "astro:content";

import Layout from "../../../layouts/Layout.astro";
import { GuideCard } from "../../../components/GuideCard";
export async function getStaticPaths() {
  const subguides = await getCollection("subguides");

  const paths = subguides.map((subguide) => {
    const segments = subguide.id.split("/");
    const category = segments[segments.length - 3];
    return { params: { category } };
  });

  return paths;
}

const currentSubguides = Astro.params.category;

const subguides = await getCollection("subguides");

const currentSubguidesList = subguides.filter((subguide) => {
  return subguide.id.includes(`${currentSubguides}/`);
});

console.log(currentSubguidesList);
---

<Layout>
  <h1 class="text-text-primary text-2xl font-bold capitalize text-center">
    {currentSubguides} Guide
  </h1>

  <div class="mt-4">
    {
      currentSubguidesList.map((subguide) => (
        <a href={subguide.data.link}>
          <GuideCard {...subguide.data} />
        </a>
      ))
    }
  </div>
</Layout>
