---
import "@/layouts/layout.css";
import "./highlighter.css";

import Header from "./Header.astro";

export type LessonMeta = {
  id: string;
  title: string;
  body: string;
  filePath: string;
  slug: string;
};

export interface Curriculum {
  curriculum: string;
  category: string;
  subcategory: string;
  children: LessonMeta[];
}

interface Props {
  curriculums: Curriculum[];
  lessonSlug: string;
  title: string;
}

const { curriculums, lessonSlug, title } = Astro.props;
---

<!doctype html>
<html lang="id" class="theme-dark" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Peskom</title>
  </head>
  <body class="transition-all duration-300 ease-in-out">
    <Header curriculums={curriculums} lessonSlug={lessonSlug} title={title} />
    <!-- offset -->
    <div
      class="h-[var(--layout-offset-height)] max-md:h-[calc(var(--layout-offset-height)*0.6)]"
    >
    </div>
    <!-- Full-width content slot -->
    <slot name="fullwidth" />

    <div
      class="grid grid-cols-[1fr_minmax(auto,880px)_1fr] gap-4 items-stretch"
    >
      <div class="col-start-2">
        <main class="flex flex-col">
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>

<style is:global></style>
