---
import "@/layouts/layout.css";
import "./highlighter.css";
import "./Sandpack.css";

import Header from "./Header.astro";
import Footer from "@/layouts/Footer.astro";

export type LessonMeta = {
  id: string;
  title: string;
  body: string;
  filePath: string;
  slug: string;
};

export interface Curriculum {
  curriculum: string;
  category: string;
  subcategory: string;
  children: LessonMeta[];
}

interface Props {
  curriculums: Curriculum[];
  lessonSlug: string;
  title: string;
}

const { curriculums, lessonSlug, title } = Astro.props;
---

<!doctype html>
<html lang="id" class="theme-dark" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="transition-all duration-300 ease-in-out">
    <Header curriculums={curriculums} lessonSlug={lessonSlug} title={title} />
    <!-- offset -->
    <div
      class="h-[var(--layout-offset-height)] max-md:h-[calc(var(--layout-offset-height)*0.6)]"
    >
    </div>

    <div
      class="grid grid-cols-[1fr_minmax(auto,880px)_1fr] gap-4 items-stretch my-10"
    >
      <div class="col-start-2">
        <main class="flex flex-col">
          <slot />
        </main>
      </div>
    </div>

    <section class="bg-foreground text-text-primary px-[20px] py-14 md:px-0">
      <div class="max-w-[700px] mx-auto flex flex-col gap-y-5">
        <p>
          Apakah konten ini membantu ? Jika ya, kami akan sangat menghargai jika
          Anda bisa memberikan bintang pada
          <a
            href="https://github.com/peskom-oss/peskom-guide"
            target="_blank"
            class="text-accent font-semibold"
          >
            GitHub Repository kami
          </a>
          dan ikuti sosial media dari komunitas Peskom di
          <a
            href="https://www.facebook.com/groups/sarjana.komedi"
            target="_blank"
            class="text-accent font-semibold"
          >
            Facebook
          </a>
          . Dukungan Anda membantu kami untuk terus berkembang! 🌟
        </p>

        <p>
          Dan juga jika Anda menemukan kesalahan, typo, kekurangan, atau
          kesalahan pada artikel ini, kami sangat terbuka untuk masukan. Silakan
          laporkan temuan Anda melalui
          <a
            href="https://github.com/peskom-oss/peskom-guide/issues"
            class="text-accent font-semibold"
            target="_blank"
          >
            halaman Github Issues ini
          </a>
          . Mari bersama-sama meningkatkan kualitas konten untuk komunitas Peskom!
          🚀
        </p>

        <p>Semoga semangat open source turut senantiasa menyertaimu.</p>
      </div>
    </section>

    <Footer />
  </body>
</html>

<style is:global></style>
