---
import { getCollection } from "astro:content";

import { CoreLayout } from "../layouts/CoreLayout";
import { FacebookIcon } from "../components/Icon";
import { GuideCard } from "../components/GuideCard";

const categories = await getCollection("categories");
---

<CoreLayout>
  <div
    class="grid grid-cols-[1fr_minmax(auto,880px)_1fr] gap-x-4 gap-y-20 items-stretch"
  >
    <!-- hero section -->
    <div class="col-start-2">
      <h1
        class="font-bold text-3xl leading-normal tracking-[-0.3px] text-text-secondary"
      >
        <span class="text-text-primary">Ngoding Itu Gampang… Kata Orang!</span>
        <p>
          Website ini dikelola dari sarjana komedi, oleh sarjana komedi, dan
          untuk sarjana komedi, yang lulus IT tapi jujur masih belajar ngoding!
        </p>
      </h1>
      <div class="mt-3 flex">
        <a
          href="https://www.facebook.com/groups/sarjana.komedi"
          target="_blank"
          class="no-underline"
        >
          <button
            class="bg-emphasis text-accent font-medium px-3 py-2 rounded-md flex items-center gap-2"
          >
            sarjana.komedi
            <FacebookIcon />
          </button>
        </a>
      </div>
    </div>

    <!-- guides section -->
    <div class="col-start-2 flex flex-col gap-5">
      <h2
        class="font-semibold text-2xl leading-normal tracking-[-0.3px] text-text-primary"
      >
        Programming guides
      </h2>

      <ul class="flex flex-col gap-6 items-stretch">
        {
          categories.map((category) => (
            <li class="list-none">
              <a
                href={category.data.link}
                class="no-underline text-text-secondary"
              >
                <GuideCard
                  name={category.data.name}
                  description={category.data.description}
                />
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</CoreLayout>
